- Responder siempre en español
- Esta es el sitio web de la empresa automatizar, se dedica a automatizar procesos, solucines tecnologicas, armado de 
tableros y servicios llave en mano en la industria.
- Usa boostrap para el diseño y el framework astro para el desarrollo.
- Los colores son:
Primario: rgb(17, 60, 105)
Secundario: rgb(62, 125, 218)
-Todas las paginas deben ser responsive y optimizadas para todos los dispositivos.

